body{
    display:flex;
    background-color: black;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: rgb(255, 255, 255);
    top: 50px; left: 850px; 
    position: absolute;
}
button{
    background-color: rgb(24, 138, 14);
    color: rgb(255, 255, 255);
    border-color: rgb(30, 116, 9);
    position: absolute;
    top:800px; left: 860px; 
    border-radius: 10px;
    height: 50px;
    width: 125px;
    font-size: large;
}
x1{
    background-color: rgb(162, 1, 255);
    height: 700px;
    width: 50px;
    border-radius: 10px;
}
x2{
    background-color: rgb(162, 1, 255);
    height: 700px;
    width: 50px;
    border-radius: 10px;
}
p{
    color: white;
    top: 100px; left: 680px;
    position: absolute;
    font-size: large;
}
#v{
    color: rgb(0, 0, 255);
    position: absolute;
    top:220px; left: 770px; 
    height: 50px;
    width: 125px;
    font-size: 300px;
    
}
#s{
    color: rgb(255, 0, 0);
    position: absolute;
    top:340px; left: 930px; 
    height: 50px;
    width: 125px;
    font-size: 300px;
}
#timea{
    position: absolute;
    top:200px; left: 100px;
    border-radius: 50%;
}
#timeb{
    position: absolute;
    top:200px; left: 1200px;
    border-radius: 50%;
}
#timea2{
    color: blue;
    font-size: 50px;
    position: absolute;
    top:400px; left: 300px;
}
#timeb2{
    color: red;
    font-size: 50px;
    position: absolute;
    top:400px; left: 1400px;
}
#fundo{
    position: relative;
    height: 950px;
    width: 2050px;
    top:0px; left: 0px;
}
